body{
    display: flex;
    border: 1px solid blue;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
background-color: gray;
width: 400px;
height: 400px;
/* border: 1px solid red; */
/* position: absolute; */
top: 50%;
left: 50%;
/* margin-top: -200px;
margin-left: -200px; */

}



